<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:customize="http://www.shishi.com/myschema/customize"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.shishi.com/myschema/customize http://www.shishi.com/myschema/customize.xsd">


   <bean id="redis" class="redis.clients.jedis.Jedis" >
      <constructor-arg name="host" value="192.168.53.177" />
      <constructor-arg name="port" value="6379" />
   </bean>



   
   <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
      <!-- 连接池配置 -->
      <constructor-arg name="poolConfig" ref="poolConfig" />
      <constructor-arg name="host" value="192.168.53.177" />
      <constructor-arg name="port" value="6379" />
   </bean>
   
   <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
      <!-- 最大连接数 -->
      <property name="maxTotal" value="30" />
      <!-- 最大空闲连接数 -->
      <property name="maxIdle" value="10"/>
      <!-- 连接耗尽是否阻塞 -->
      <property name="blockWhenExhausted" value="true"/>
   </bean>
   
</beans>